body {
  margin: 0;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-family: "Moon Dance", cursive;
  font-size: 5.625rem;
  line-height: 2;
}

.logo {
  padding-top: 20px;
}
.top-container {
  background-color: #142850;
  position: relative;
}

.bootstrap,
.git,
.hub,
.hub,
.html,
.css,
.react,
.java,
.js,
.node {
  width: 25%;
  height: 25%;
}
